// FONTS
/*
@font-face {
  font-family: "EXAMPLE";
  src: url("~@/assets/fonts/Example.woff") format("woff");
  src: url("~@/assets/fonts/Example.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*/
