// FONTS
$Arial: 'Arial', sans-serif, -apple-system; // example

// BASE
$base-transition: 0.3s;
$transition-duration: 0.3s;
$ease: 0.3s ease;

// COLORS
$lifehacker: #ed5e42;
$black: #000;
$white: #fff;
$lightblue: #7DBFFF;
$darkblue: #094E95;
$answercolor: #396C94;
$darkbluemain: #004373;
